[submodule "FaragonEngine/vendor/spdlog"]
	path = FaragonEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "FaragonEngine/vendor/GLFW"]
	path = FaragonEngine/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "FaragonEngine/vendor/imgui"]
	path = FaragonEngine/vendor/imgui
	url = https://github.com/Danqingyifan/imgui
[submodule "FaragonEngine/vendor/glm"]
	path = FaragonEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "FaragonEngine/vendor/yaml-cpp"]
	path = FaragonEngine/vendor/yaml-cpp
	url = https://github.com/Danqingyifan/yaml-cpp
[submodule "FaragonEngine/vendor/ImGuizmo"]
	path = FaragonEngine/vendor/ImGuizmo
	url = https://github.com/Danqingyifan/ImGuizmo
