[submodule "FaragonEngine/vendor/spdlog"]
	path = FaragonEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "FaragonEngine/vendor/GLFW"]
	path = FaragonEngine/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "FaragonEngine/vendor/imgui"]
	path = FaragonEngine/vendor/imgui
	url = https://github.com/Danqingyifan/imgui
