# Binaries
**/bin/
bin-intermediate/
Intermediates/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
Sandbox/FaragonEngineProfile-Runtime.json
Sandbox/FaragonEngineProfile-Shutdown.json
Sandbox/FaragonEngineProfile-Startup.json
